doctype html
html(lang='en')
 head
   title Moon Animation
 body
  .main-container
    .stars-container
        .star.star--1
        .star.star--2
        .star.star--3
        .star.star--4
        .star.star--5
        .star.star--6
        .star.star--7
        .star.star--8
        .star.star--9
        .star.star--10
        .star.star--11
        .star.star--12
        .star.star--13
        .star.star--14
        .star.star--15
        .star.star--16
        .star.star--17
        .star.star--18
        .star.star--19
        .star.star--20
    .meteors-container
        .meteor.meteor--1
        .meteor.meteor--2
    .cloud-upper.cloud-upper--1
        .cloud-shape.cloud-shape--1
        .cloud-shape.cloud-shape--2
        .cloud-shape.cloud-shape--3
    .cloud-upper.cloud-upper--2
        .cloud-shape.cloud-shape--1
        .cloud-shape.cloud-shape--2
        .cloud-shape.cloud-shape--3
    .clouds-lower-behind
        .clouds-lower_cloud.clouds-lower_cloud--left
            .cloud-circle.cloud-circle--1
            .cloud-circle.cloud-circle--2
        .clouds-lower_cloud.clouds-lower_cloud--rigth
            .cloud-circle.cloud-circle--1
            .cloud-circle.cloud-circle--2
    .clouds-lower
        .clouds-lower_cloud.clouds-lower_cloud--left
            .cloud-circle.cloud-circle--1-light
            .cloud-circle.cloud-circle--2-light
            .cloud-circle.cloud-circle--1
            .cloud-circle.cloud-circle--2
        .clouds-lower_cloud.clouds-lower_cloud--rigth
            .cloud-circle.cloud-circle--1-light
            .cloud-circle.cloud-circle--2-light
            .cloud-circle.cloud-circle--1
            .cloud-circle.cloud-circle--2
    .earth
    .moon-container
        .moon__light-container
            .moon__light.moon__light--1
            .moon__light.moon__light--2
            .moon__light.moon__light--3
        .moon
        .moon__stain-container
            .moon__stain.moon__stain--1
            .moon__stain.moon__stain--2
            .moon__stain.moon__stain--3